# google-auth
# google-auth-oauthlib
# google-auth-httplib2
# google-api-python-client
# fastapi
# sentence-transformers
# uvicorn
# chromadb
# langchain-googledrive
# langchain-community 
# unstructured 
# openpyxl
# SQLAlchemy
passlib